
<app-toolbar></app-toolbar>



<div class="body">
    <h1>Lokasi</h1>
    <p>Jl. P. Diponegoro No.138, Pasiran, Kec. Singkawang Bar., Kota Singkawang, Kalimantan Barat 79111, Indonesia</p>
    <a href="https://www.google.com.my/maps/place/Hotel+Simpang/@0.9072729,108.9868656,17z/data=!4m9!3m8!1s0x31e372726c8e77e9:0x4fc951ecf5a9dc80!5m2!4m1!1i2!8m2!3d0.9072833!4d108.9869539!16s%2Fg%2F11g6j73x_0?entry=ttu" target="_blank">
        <img src="http://localhost:4200/assets/location.JPEG" alt="Location Image">
    </a>

</div>
