// styles.scss


h1{
  font-weight: bold;font-size: 7vw;}

img {
  max-width: 100%;
  height: auto;
    margin: 1vw
  }

.body{

color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
// justify-content: center;
// align-items: center;
font-size: 1.5vw;
background-color: black;
margin: 1vw;
}
