<div class="toolbar">
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a [routerLink]="['/index']" (click)="highlightActivateButton()">Home</a></li>
            <li><a [routerLink]="['/about-us']" (click)="highlightActivateButton()">About Us</a></li>
            <li><a [routerLink]="['/products']" (click)="highlightActivateButton()">Rooms</a></li>
            <li><a [routerLink]="['/contact']" (click)="highlightActivateButton()">Contact</a></li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>
