<div class="toolbar">
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li [class.active]="activateButton === 'Home'"><a (click)="scrollToSection('home')">Home</a></li>
            <li [class.active]="activateButton === 'Products'"><a (click)="scrollToSection('products')">Kamar</a></li>
            <li [class.active]="activateButton === 'About Us'"><a (click)="scrollToSection('aboutus')">Lokasi</a></li>
            <li [class.active]="activateButton === 'Contact'"><a (click)="scrollToSection('contact')">Contact</a></li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>
