h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 5vh auto;
   
}



em {
    color: white;
}

button {
    margin: 5px;
    margin-left: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-content: center;
    // align-items: center;
    // background-size: cover;
    // background-position: center;
    color: white;
    width: 100% ;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom:  5% ;
     /* Add horizontal padding */
   
   
}




.inner {
    width: 100%;
    max-width: 800px;
    margin: 15px;
}

.col{
    width:100% ;
   
    padding: 0 15px;
    margin: 20px;
    flex: 1; /* Make columns flexible to distribute space evenly */
    margin-right: 20px; /* Adjust the spacing between columns */
    padding-bottom: 5%;
    border: 1px solid #ccc;
 
}


dt {
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 0;
}

dl {
    position: relative;
    top: 0;
}

img {
    width: 200px;
    height: 300px;
    margin: 0%;
}

/* Adjustments for different screen sizes */
@media screen and (max-width: 768px) {
    .container {
        min-height: 60vh; /* Reduce height for smaller screens */
    }
}

@media screen and (min-width: 1200px) {
    .inner {
        max-width: 1000px; /* Increase max-width for larger screens */
    }
}
