<app-toolbar></app-toolbar>
<div id="content">
    <div class="wrapper">
      <div class="aside maxheight">
        <!-- box begin -->
        <div class="box maxheight">
          <div class="inner">
            <h3>Service dan kapasitas kamar</h3>
            <div class="txt1">
              <p>Untuk memastikan kenyamanan anda selama berada di hotel kami, kami  selalu menjaga kebersihan hotel, serta ramah dengan tamu.</p>
              <p>Kapasitas kamar: 2 orang. <br>
              Disarankan untuk menambah extra-bed untuk kamar yang ditempati lebih dari 2 orang. </p>
              <p>-----------------------------------</p>
            <h3>Saran &amp; Kritik</h3>
			Saran, kritik, ataupun complain dapat dikirimkan langsung ke: <b>hotelkhatulistiwa@gmail.com</b>
            </div>
          </div>
        </div>
        <!-- box end -->
      </div>
      <div class="content">
        <div class="indent">
          <h2>Kamar kami</h2>
          <div class="container">
            <div class="col-1">  <img alt="" src="images/kamar1small.jpg" class="extra-img jpg">
              <dl class="list1">
<dt><font size="2">Deluxe</font></dt>
                <dd><font size="2">
                  Kamar ini dilengkapi dengan TV, Air panas, AC, Kamar mandi dalam, Kursi, dan Meja. <br>Tersedia air minum gratis.<br>Pilih kamar dengan Single Bed atau Double Bed<br><br></font></dd>
              </dl>
              
            </div>
            <div class="col-2">  <img alt="" src="images/kamar2small.jpg" class="extra-img jpg">
              <dl class="list1">
<dt><font size="2">Superior</font></dt>
                <dd><font size="2">
                  Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
                Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double Bed<br></font></dd>
              </dl>
             
            <br>
            *******
            </div>
            <div class="col-3"> <img alt="" src="images/kamar3small.jpg" class="extra-img jpg">
              <dl class="list1">
<dt><font size="2">Standard</font></dt>
                <dd><font size="2">
                  Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double Bed</font></dd>
              </dl>
             
            <br>
            *******
            </div>
            <div class="clear"></div>
          </div>
        </div>
      <em>*Tarif hotel dapat berubah pada hari besar atau high season</em>
</div>
    </div>
  </div>