<app-toolbar></app-toolbar>
<div id="body">
    <div class="wrapper">

      <div class="content">
        
          <h2>Kamar kami</h2>
          <div class="container">
            <div class="column">  
              <dl class="list1">



                <dd><font size="2">
                  <img src="http://localhost:4200/assets/images/IMG-20240318-WA0004.jpg" alt="Location Image">
                  <dt>Family</dt>  
                <br>Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
                Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double Bed<br></font></dd>
              </dl>

            </div>
            <div class="column"> 

<dd><font size="2">

  <img src="http://localhost:4200/assets/images/IMG-20240318-WA0007.jpg" alt="Location Image">  
  <dt>Twin</dt>
  <br>Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double Bed<br></font></dd>
            
             
            <br>
       
            </div>

            <div class="column"> 
              <dl class="list1">



                <dd><font size="2">
                  
                  <img src="http://localhost:4200/assets/images/IMG-20240318-WA0002.jpg" alt="Location Image">  
                  <dt>Standard</dt>
                  <br>Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
                Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double Bed<br></font></dd>
              </dl>
             
            <br>
            <br>


            <br>
            </div>
            <div class="clear"></div>
          </div>
        
      <em>*Tarif hotel dapat berubah pada hari besar atau high season</em>
</div>
    </div>
  </div>