// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin: 1vw ;
    font-size: 7vw;
font-weight: bold;
   
}



em {
    color: white;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    
    width: 15vw;
    height: 6vh;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // justify-content: center;
     align-items: left;
    // background-size: cover;
    // background-position: center;
    color: white;
    width: 100% ;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom:  5% ;
     /* Add horizontal padding */
   
   
}




.inner {
    width: 100%;
    max-width: 800px;
    margin: 15px;
}

.col{
    width:100% ;
   
    // padding: 0 15px;
    // margin: 20px;
    // flex: 1; /* Make columns flexible to distribute space evenly */
    // margin-right: 20px; /* Adjust the spacing between columns */
    // padding-bottom: 5%;
    border: 1px solid #ccc;
 
}

dd{font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
dt {
    font-weight: bold;
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0;
}

dl {
    position: relative;
    top: 0;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0%;
    padding: 5%;
}

/* Adjustments for different screen sizes */
@media screen and (max-width: 320px) {
    .container {
        min-width: 320px; /* Reduce height for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .container {
        min-height: 60vh; /* Reduce height for smaller screens */
    }
}

@media screen and (min-width: 1200px) {
    .inner {
        max-width: 1000px; /* Increase max-width for larger screens */
    }
}
