<!-- <app-toolbar></app-toolbar> -->
<!-- <app-whatsapp-chat></app-whatsapp-chat> -->

<div id="body">
  <h2>Kamar kami</h2>
  <br>
  <div class="container">

    <!-- <div class="row"> -->
      <div class="col">

        <img src="IMG-20240318-WA0004.jpg" alt="Location Image">

      </div>

      <div class="col">
        <dl class="list1">

          <dd>
            <font size="2">
              <!-- <img src="http://localhost:4200/assets/images/IMG-20240318-WA0004.jpg" alt="Location Image"> -->
          <dt>Family</dt>
          <br>Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
          Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double
          Bed<br></font>
          <button (click)="openWhatsAppChat()" type="button" class="btn btn-primary">Make a Booking</button>

          </dd>
        </dl>

      </div>






      <div class="col">

        <img src="IMG-20240318-WA0007.jpg" alt="Location Image">

        
      </div>


      <div class="col">
        <dl class="list1">
        <dd>
          <font size="2">


        <dt>Twin</dt>
        <br>Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
        Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau Double
        Bed<br></font>
        <button (click)="openWhatsAppChat()" type="button" class="btn btn-primary">Make a Booking</button>
        </dd>
        </dl>
      </div>





      <div class="col">


        <img src="IMG-20240318-WA0002.jpg" alt="Location Image">

      </div>


      <div class="col">
        <!-- <dl class="list1"> -->
          <dl class="list1">
          <dd>
            <font size="2">
              <dt>Twin</dt>

              <br>Kamar ini dilengkapi dengan TV, AC, Kamar mandi dalam, Kursi, dan Meja.<br>
              Pilih kamar dengan Double Bed. <br>Tersedia air minum gratis. <br>Pilih kamar dengan Single Bed atau
              Double
              Bed<br>
            </font>
            <button (click)="openWhatsAppChat()" type="button" class="btn btn-primary">Make a Booking</button>
          </dd>
        </dl>



        
      </div>




      <div class="clear"></div>
    </div>

  </div>
  <br>
  <em>*Tarif hotel dapat berubah pada hari besar atau high season</em>
<!-- </div> -->