
<div class="container">
    <div class="header">
        <app-toolbar></app-toolbar></div>
    <div class="body">
        
    
        <h1>Welcome</h1>
        <p>Selamat datang di Hotel Simpang Singkawang, tempat Anda menemukan keseimbangan yang sempurna antara
            kenyamanan, lokasi yang strategis, dan harga yang terjangkau. Terletak di pusat kota, hotel kami memudahkan
            Anda untuk menjelajahi segala atraksi utama yang ditawarkan Singkawang dengan mudah. </p>

    </div>
</div>
<div class="container">
    <div id="products">
        <app-products></app-products>
    </div>
</div>
<div class="container">
<div id="aboutus">
    <app-about-us></app-about-us>
</div>

</div>
<div class="container">
<div id="contact">
    <app-contact></app-contact>
</div>
</div>