@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');
.body {
    background-image: url('src/assets/images/WhatsApp Image 2024-04-02 at 16.15.40_d4204a78.jpg');
    background-size: cover;
    background-position: center;
    // width: 100vh;
    min-height: 100vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0   ;

}

.container {
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #CCCCCC; /* Set border width and color */
    border-radius: 10px;
    width: 100%;
    max-width: none;
    //height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

// @media (min-width: 576px) {
//     .container {
//         max-width: 576px; /* Adjust container width for small devices (phones) */
//     }
// }

// @media (min-width: 768px) {
//     .container {
//         max-width: 768px; /* Adjust container width for medium devices (tablets) */
//     }
// }
// @media (min-width: 992px) {
//     .container {
//         max-width: 992px; /* Adjust container width for large devices (desktops) */
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         max-width: 1200px; /* Adjust container width for extra large devices (large desktops) */
//     }
// }

