.body {
    background-image: url('http://localhost:4200/assets/images/WhatsApp Image 2024-04-02 at 16.15.40_d4204a78.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;

}

